input {
    width: 70%;
	height: 30px;
	border-radius: 3px;
	border: 2px solid #CCCCCC;
	font-size: 14px;
	padding-left: 10px;    
    outline-width: medium;
    align-self: flex-start;
}        

input::-webkit-input-placeholder {
    font-size: 14px;
}

.list-input button {
	margin-top: 30px;
	width: 20%;
	height: 37px;
	background: #27CCC0;
	color: white;
	font-size: 14px;
	border: 1px solid #27CCC0;
    border-radius: 6px;
    margin-left: 37px;
}    

.list-input button:hover {
		cursor: pointer;
}	

.list-input {
	margin-bottom: 20px;
}